h2 {
    color: rgb(52, 231, 177);
    font-size: 20px;
}
#eita {
    font-size: 25px;
}
h1 {
   
    font-size: 20px;
}
 #produtos{
   
    font-size: 40px;
}
.carousel-inner{
    padding-top: 50px;
}
